<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
      table, th, td {
            border: 1px solid black;
          }
</style>
<body>
    <h1>hiiiiiiiii</h1>
    {{people}}
    <table>
        <tr>
          <th>S. no</th>
          <th>NAME</th>
          <th>AGE</th>
        </tr>
        {% for p in people%}
        <tr>
          <td>{{forloop.counter}}</td>
          <td>{{p.name}}</td>
          <td>{{p.age}}</td>
        </tr>
      {% endfor %}
      
      </table>
    
</body>
</html>